<div class="container">
  <h1 class="show-image"><%=  cl_image_tag(@cocktail.photo.key,
        width: 400, height: 300, crop: :fill) %></h1>

  <h3>Doses</h3>
  <% @cocktail.doses.each do |dose| %>
    <p>Description: <%=dose.description%> / Ingredient: <%=dose.ingredient.name%><%= link_to dose_path(dose),
    method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-remove-link' do %>
    <i class="fas fa-trash"></i><% end %></p>
  <% end %>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient %>
    <%= f.input :description %>
    <%= f.submit "Add a Dose!", class: "btn btn-secondary" %>
  <% end %>
</div>
